static/data/TNG100_z0.0/PartType0/old/
static/data/TNG100_z2.3/PartType0/old/
static/data/TNG100_z2.3/PartType1/.ipynb_checkpoints/
static/data/TNG100_z2.3/PartType1/dark matter hdf5 extraction.ipynb
static/data/TNG100_z2.3/PartType1/grid_TNG100-1_30_dm_mass_64.hdf5
static/data/TNG100_z2.3/PartType1/grid_TNG100-1_30_dm_mass_128.hdf5
static/data/TNG100_z2.3/PartType1/grid_TNG100-1_30_dm_mass_256.hdf5
static/data/TNG100_z2.3/PartType1/grid_TNG100-1_30_dm_mass_512.hdf5
static/data/RefL0100N1504/PartType1/.ipynb_checkpoints/
static/data/RefL0100N1504/PartType1/dark matter hdf5 extraction.ipynb
static/data/RefL0100N1504/PartType1/grid_Eagle100_28_dm_mass_64.hdf5
static/data/RefL0100N1504/PartType1/grid_Eagle100_28_dm_mass_128.hdf5
static/data/RefL0100N1504/PartType1/grid_Eagle100_28_dm_mass_256.hdf5
static/data/RefL0100N1504/PartType1/grid_Eagle100_28_dm_mass_512.hdf5
static/data/skewers
static/data/eagle_z0_12_ms7.json
