celery==4.4.7
cython
eagleSqlTools==2.0.0
eventlet==0.25.2
Flask==1.1.2
flask_compress
Flask-SocketIO==4.3.0
Frozen-Flask==0.15
greenlet==0.4.15
gunicorn==20.0.4
Jinja2<3.1
mpi4py==3.0.3
psutil
pillow
python-engineio==3.13.0
python-socketio==4.6.0
itsdangerous==2.0.1
# -e git://github.com/trident-project/trident.git#egg=trident
websockets>=9.1
werkzeug==1.0.1
# -e git://github.com/yt-project/yt.git#egg=yt
# -e git://github.com/yt-project/yt_astro_analysis.git#egg=yt_astro_analysis
yt==4.0.0
trident==1.2.3