celery==4.4.7
cython
eagleSqlTools==2.0.0
eventlet==0.25.2
Flask==2.2.2
flask_compress==1.12
Flask-SocketIO==5.3.1
Frozen-Flask==0.15
greenlet==0.4.15
gunicorn==20.0.4
# jinja2==3.0.3
mpi4py==3.0.3
psutil
pillow
python-engineio==4.3.4
python-socketio==5.7.1
trident
websockets>=9.1
yt