[Unit]
Description=Gunicorn service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/
# ExecStart=/usr/local/bin/gunicorn -t 2400 --preload --graceful-timeout 2400 --workers 12 -k eventlet --log-level debug --bind unix:cosmovis.sock -m 007 cosmo-serv:app
ExecStart=/usr/local/bin/gunicorn -t 2400 --preload --graceful-timeout 2400 --workers 1 --threads 10  -k eventlet --log-level debug --bind unix:cosmovis.sock -m 007 cosmo-serv:app

[Install]
WantedBy=multi-user.target
